[submodule "agri3d_ws/src/rslidar_sdk"]
	path = agri3d_ws/src/rslidar_sdk
	url = https://github.com/RoboSense-LiDAR/rslidar_sdk.git
[submodule "agri3d_ws/src/rslidar_msg"]
	path = agri3d_ws/src/rslidar_msg
	url = https://github.com/RoboSense-LiDAR/rslidar_msg.git
[submodule "agri3d_ws/src/agri3d_ws/src/zed-ros2-wrapper"]
	path = agri3d_ws/src/agri3d_ws/src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper
[submodule "agri3d_ws/src/zed-ros2-wrapper"]
	path = agri3d_ws/src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper
